{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy del_form del_form.helper %}
{% block title %}
    Kolabria WikiWall - Real-time Collaborative Whiteboard
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Account</li>
                <li><a href="/walls/"><i class="icon-home"></i> Home</a></li>
                <li class="active"><a href="/walls/"><i class="icon-th" ></i> Whiteboards</a></li>
                <!-- <li><a href="#"><i class="icon-inbox"></i> Messages</a></li> -->
                <li><a href="/appliance/"><i class="icon-cog"></i> Appliances</a></li>
                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span8 ">
          <div class="hero-unit well">
              <h3>Confirm Deletion of: {{ del_wall.name }}:</h3>
              <hr/> 
            <form class="well">  
              <label class='alert alert-info'>Type DELETE to confirm that you wish to delete the board {{ del_wall.name }}</label>  
              <input type="text" class="span3" placeholder="Type D E L E T E here …">  
              <span class="help-inline"><strong>Warning:</strong> Once deleted a WikiWall cannot be recovered!</span>  
              <label class="checkbox">  
                <input type="checkbox"> I really want to delete this whiteboard
              </label>  
              <button type="submit" method="post" action="/walls/delete/{{ del_wall.id }}/" class="btn btn-primary">Submit</button>  
            </form>  
      </div>
        </div><!--span -->
      </div><!--row -->

{% endblock %}
