{% extends "base.html" %}

{% block title %}
    Kolabria - My Wikiboards</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">

      {% include "includes/sidebar.html" %}

        {% if edit_wall %}
        <div class="span6 offset3">
          <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <p>Updated Board: {{ edit_wall.name }}</p>
            <p>Owner Email: {{ edit_wall.owner.email}}</p>
            <p>Last Modified: {{ edit_wall.modified }}</p>
            <p>Date Created: {{ edit_wall.created }}</p>
          </div><!-- alert-block -->
        </div><!--/span6 -->
        {% endif %}

        {% if session %}
        <div class="span6 offset3">
          <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <p>Deleted Board: {{ deleted_wall.name }}</p>
            <p>Owner Email: {{ deleted_wall.owner.email}}</p>
            <p>Date Created: {{ deleted_wall.created }}</p>
          </div><!-- alert-block -->
        </div><!--/span6 -->
        {% endif %}
        
        {% if messages %}
          {% for message in messages %}
        <div class="span6 offset3">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <p>{{ message }}</p>
          </div><!-- alert-block -->
        </div><!--/span6 -->
          {% endfor %}
        {% endif %}

        {% if walls %}
        <div class="span6 ">
          <h3>Recent Whiteboards:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Board Name</th>
                <th>Status</th>
                <th>Permissions</th>
                <th>Last Modified</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for wall in walls %}
              <tr id="{{ wall.id }}">
                <td><a href="/walls/{{ wall.id }}">{{ wall.name }}</a></td> {% comment %} {% url kolabria.walls.views.view_wall wall.id %} {% endcomment %}
                <td>{{ wall.status }}</td>
                <td>owner</td>
                <td>{{ wall.modified }}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn" href="/walls/{{ wall.id }}">open</a><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/walls/share/{{ wall.id }}">share</a></li>
                      <li><a href="/walls/update/{{ wall.id }}">update</a></li>
                      <li><a href="/walls/delete/{{ wall.id }}">delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}

              {% for swall in shared_walls %} 
              <tr id="{{ swall.id }}">
                <td><a href="/walls/{{ swall.id }}">{{ swall.name }}</a></td> {% comment %} {% url kolabria.walls.views.view_wall wall.id %} {% endcomment %}
                <td>{{ swall.status }}</td>
                <td>sharing</td>
                <td>{{ swall.modified }}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn" href="/walls/{{ swall.id }}">open</a><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/walls/share/{{ swall.id }}">share</a></li>
                      <li><a href="/walls/update/{{ swall.id }}">update</a></li>
                      <li><a href="/walls/delete/{{ swall.id }}">delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}


             </tbody>
            </table>
          </div><!--/span-->
        {% else %}
        <div class="span6 ">
          <div class="hero-unit well">
              <h3>No Whiteboards Found:</h3>
              <hr/>
              <p>Click here to <a href="/walls/create" span="btn btn-primary">Create a New Whiteboard</a></p>
            </div>
        {% endif %}
        </div><!--span -->
      </div><!--/row-->
{% endblock content %}
