{% extends "base.html" %}

{% block title %}
Kolabria | Editing Board Details for: {{ wall.name }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% include "includes/sidebar.html" %} 
        <div class="span8 ">
          <div class="hero-unit well">
              <h3>Update Whiteboard Details:</h3>
              <hr/> 
                <form action="." method="post" class="form-horizontal">
                    {{ update_form.as_p}}
                    <button a href="/walls/" class="btn ">Cancel</button>
                    <input type="submit" value="Update Whiteboard" class="btn btn-primary">
                </form>
                <br/>
        {% if sharing %}
          <h3>Sharing with the following users:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>email</th>
                <th>Access Level</th>
              </tr>
            </thead>
            <tbody>
                {% for email in sharing %}
              <tr>
                <td>{{ email }}</td>
                <td>Writing</td>
                <td>
                    <a class="btn" href="/walls/unshare?wall={{ wall.id }}&email={{ email }}">unshare</a>
                </td>
              </tr>
              {% endfor %}
             </tbody>
           </table
        {% endif %}
          </div>
        </div><!--span -->
      </div><!--row -->

{% endblock %}
